body {
    width: 900px;
    margin: auto;
}

  input  {
    height: 30px;
    justify-content: center;
    margin: 10px;
    width: 200px;
}

#input {
    margin: auto;
}


select {
    height: 30px;
    justify-content: center;
    margin: 10px;
    width: 200px;
}

.btn_img {
        background-color: #fff;
    border: none;
    cursor: pointer;
    height: 80%;
    margin: auto 10px;
}

button {
    margin: 10px;
    cursor: pointer;
}

.saveString {
    display: flex;
    flex-direction: row;
}


img {
    margin: auto;
margin-top: 5px;
}

.newdiv {
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
}

.img_bin {
    cursor: pointer;
}