body {
    margin: auto;
    margin-top: 100px;
}

  input  {
    height: 30px;
    justify-content: center;
    margin: 10px;
    width: 200px;
}

#input {
    margin: auto;
}

select {
    height: 30px;
    justify-content: center;
    margin: 10px;
    width: 200px;
}

.button_save {
    margin: 10px;
    cursor: pointer;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

.saveString {
    display: flex;
    flex-direction: row;
}

img {
    margin: auto;
margin-top: 5px;
}

.newdiv {
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
}

.img_bin {
    cursor: pointer;
}